# Ignore the virtual environment folder
venv/

# Ignore the log file
api.log

# Ignore any compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore all __pycache__ directories
__pycache__/

# Ignore all .git directories
.git/
